@mixin effettoLink($colore1, $colore2, $classe) {
    a.#{$classe} {
        padding: 5px 0;
        background-image: linear-gradient(to right, $colore1, $colore1 50%, $colore2 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        position: relative;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    a.#{$classe}:before {
        content: '';
        background: $colore1;
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;
        transition: all 0.3s ease-in-out;
    }

    a.#{$classe}:hover {
        background-position: 0;
    }

    a.#{$classe}:hover:before {
        width: 100%;
    }
}