header {
    background-color: $sfondoTesto;

    nav {
        border-bottom: 1px solid $colPrinc;
        box-shadow: 0 5px 5px $colPrincSfumato;


        img.logo {
            margin-left: 10%;
            width: 200px;
        }

        ul {
            margin: 0 0 0 0;
            padding: 5px;
            list-style: none;

            @media all and (min-width: ($xxxl + "px")) {
                margin-left: 50%;
            }

            @media all and (min-width: ($xxl + "px")) and (max-width: ($xxxl + "px")) {
                margin-left: 30%;
            }

            @media all and (min-width: ($xl + "px")) and (max-width: ($xxl + "px")) {
                margin-left: 20%;
            }


            li {
                margin: 0;
                padding: 5px 10px 5px 10px;
                display: inline;
                font-family: $FFamilyTitolo;
                font-size: 1.2rem;

            }
        }
    }

    a {
        border: 1px solid $sfondoTesto;
    }

    @include effettoLink($colPrinc, $testo, "effetto");

    a.active {
        border-top: 2px solid $sfondoBody;
    }
}