@import "variabili";

@import "mixin";
@import "funzioni";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: $sfondoBody;
}

%cont {
    width: 60%;
    // border: 1px solid red;
    text-align: center;

    @media all and (min-width: ($xl + "px")) and (max-width: ($xxl + "px")) {
        width: 80%;
    }

    @media all and (max-width: ($xl + "px")) {
        width: 100%
    }
}

@import "navbar";
@import "footer";

div.content {
    margin-top: 100px;

    .doppioSfondo {
        width: 100%;

        .primaColonna {
            background-color: calcolaColoreFn($sfondoBanner, 1, 3%);

            .contenutoColonna {
                @extend %cont;
                margin-left: 40%;

                @media all and (min-width: ($xl + "px")) and (max-width: ($xxl + "px")) {
                    margin-left: 20%;
                }

                @media all and (max-width: ($xl + "px")) {
                    margin: auto;

                }
            }
        }

        .secondaColonna {
            background-color: $sfondoBanner;

            .contenutoColonna {
                @extend %cont;

                @media all and (max-width: ($xl + "px")) {
                    margin: auto;
                }
            }
        }

    }
}


section,
main {
    margin: auto;
    width: 60%;
    background-color: $sfondoTesto;

    @media all and (min-width: ($xl + "px")) and (max-width: ($xxl + "px")) {
        width: 80%;
    }

    @media all and (max-width: ($xl + "px")) {
        width: 100%
    }

    &.contattaci {
        background-color: calcolaColoreFn($sfondoBanner, 1, 3%);
        width: 100%;
        margin-bottom: 0;

        .primaColonna {


            .contenutoColonna {
                @extend %cont;
                margin-left: 40%;
                padding: 30px;

                @media all and (min-width: ($xl + "px")) and (max-width: ($xxl + "px")) {
                    margin-left: 20%;
                }

                @media all and (max-width: ($xl + "px")) {
                    margin: auto;

                }

                h2 {
                    margin-bottom: 20px;
                    color: $testoPie;
                }

                form {
                    fieldset {
                        legend {
                            display: none;
                        }

                        label,
                        .fintaLabel {
                            color: $testoPie;
                        }

                        p.privacy {
                            font-size: 0.8rem;
                            color: $testoPie;
                            margin-top: 10px;
                        }

                        input[type=text],
                        input[type=date],
                        input[type=email],
                        input[type=number],
                        textarea {
                            border-radius: 0;
                            background-color: $sfondoInput;
                            border: none;
                            border-bottom: 4px solid $testoPie;

                            &:focus {
                                border-bottom-color: $colPrinc;
                            }
                        }

                        input:focus,
                        input:checked {
                            box-shadow: none;
                        }

                        .form-check-input:checked {
                            background-color: $colPrinc;
                            border-color: $colPrinc;
                            // box-shadow: none;
                        }



                        ::placeholder {
                            color: $testoPie;
                            opacity: 1;
                        }

                        :-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: $testoPie;
                        }

                        ::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: $testoPie;
                        }

                        text-align: start;

                    }
                }
            }
        }

        .secondaColonna {

            .contenutoColonna {
                @extend %cont;

                @media all and (max-width: ($xl + "px")) {
                    margin: auto;
                }
            }
        }

    }
}