@import "variabili";

@import "mixin";
@import "funzioni";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 180%;
}

body {
    background-color: $sfondoBody;
}

%cont {
    width: 60%;
    // border: 1px solid red;
    text-align: center;

    @media all and (min-width: ($xl + "px")) and (max-width: ($xxl + "px")) {
        width: 80%;
    }

    @media all and (max-width: ($xl + "px")) {
        width: 100%
    }
}

%dueColonne {
    width: 100%;

    .primaColonna {
        padding: 50px 10px 50px 10px;
        // border: 1px solid red;

        .contenutoColonna {
            @extend %cont;
            margin-left: 40%;
            // border: 1px solid green;

            @media all and (min-width: ($xl + "px")) and (max-width: ($xxl + "px")) {
                margin-left: 20%;
            }

            @media all and (max-width: ($xl + "px")) {
                margin: auto;
            }
        }
    }

    .secondaColonna {
        padding: 50px 10px 50px 10px;
        // border: 1px solid red;

        .contenutoColonna {
            @extend %cont;
            // border: 1px solid green;

            @media all and (max-width: ($xl + "px")) {
                margin: auto;
            }
        }
    }
}





%h {
    color: $colPrinc;
    @include filtro(90);
    font-family: $FFamilyTitolo;


}

@for $i from 1 through 6 {
    h#{$i} {
        @extend %h;
        font-size: $size + $delta_size*(6-$i);
    }
}

@import "navbar";
@import "footer";

div.content {
    margin-top: 100px;
}


section,
main {
    margin: auto;
    // width: 60%;
    background-color: $sfondoTesto;


}

.principale {
    background-color: $colPrinc !important;
    border: 1px solid $colPrinc !important;
    @include filtro(90);

}

strong {
    color: $colPrinc;
    @include filtro(90);
}

.contenutoSingolacolonna {
    width: 60%;
    margin: 50px auto 50px auto;
    // border: 1px solid red;
}


section#link-2 {
    @extend %dueColonne;
    margin-top: 50px;

    img.fotoCitazione {
        width: 100%;
        margin: auto;
        border: 1px solid $colPrinc;
        padding: 2px;
        border-radius: 5px;

        @include filtro(100);
    }

    p {
        margin: 30px 0;
        text-align: justify;
    }

    ul.contatore {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin: 30px auto;
        padding: 0;
        // border: 1px solid red;

        li {
            width: 170px;
            height: 140px;
            background-color: $colPrinc;
            color: $testoPie;
            box-shadow: 10px 10px 30px $colPrinc;

            border: 1px solid $sfondoBody;
            border-radius: 20px;
            margin: 20px 20px;
            padding: 20px;
            text-align: center;
            // font-size: 0.82rem;

            @include filtro(100);

            &:hover {
                color: $linkPie;

                h3 {
                    color: $linkPie;
                }
            }

            h3 {
                color: $testoPie;
                font-size: 3rem;
                font-weight: bold;
            }

            p {
                padding-top: 0;
                margin-top: 0;
                text-align: center;
                font-size: 0.9rem;
            }
        }
    }

    ul.competenze {
        text-align: start;
        margin: 20px 0 50px 0;

        li {
            text-align: start;
        }
    }


}

section#link-3 {
    @extend %dueColonne;

    img.fotoCitazione {
        width: 100%;
        margin: auto;
        border: 1px solid $colPrinc;
        padding: 2px;
        border-radius: 5px;

        @include filtro(100);
    }

    p {
        margin: 30px 0;
        text-align: justify;
    }
}

section#link-4 {
    @extend %dueColonne;

    img.fotoCitazione {
        width: auto;
        height: 500px;
        @include filtro(100);
    }
}

section#link-5 {
    @extend %dueColonne;
    background-color: calcolaColoreFn($sfondoBanner, 1, 2.8%);
    margin-bottom: 0;

    h2 {
        margin-bottom: 20px;
        color: $testoPie;
    }

    form {
        fieldset {
            legend {
                display: none;
            }

            label,
            .fintaLabel {
                color: $testoPie;

                span.richiesto {
                    color: $colPrinc;
                    margin-left: 3px
                }
            }

            p.privacy {
                font-size: 0.8rem;
                color: $testoPie;
                margin-top: 10px;
                ;
            }

            input[type=text],
            input[type=date],
            input[type=email],
            input[type=number],
            textarea {
                border-radius: 0;
                background-color: $sfondoInput;
                border: none;
                border-bottom: 4px solid $testoPie;

                &:focus {
                    border-bottom-color: $colPrinc;
                }
            }

            input:focus,
            input:checked {
                box-shadow: none;
            }

            .form-check-input:checked {
                background-color: $colPrinc;
                ;
                border-color: $colPrinc;
                // box-shadow: none;
            }

            ::placeholder {
                color: $testoPie;
                opacity: 1;
            }

            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $testoPie;
            }

            ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: $testoPie;
            }

            text-align: start;
        }
    }

    .sfondoColonna {
        margin-top: 50px;
        background-image: url(../img/gioielloContatti3.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        min-height: 550px;
        // border: 1px solid red;
    }
}

section.confronto {

    table {
        width: 100%;
        height: 400px;

        thead {
            th {
                text-align: center;
                color: $colPrinc;

                font-size: 1.2rem;
                @include filtro(90);
            }
        }

        tbody {
            tr {
                background-color: $sfondoTesto;

                &:nth-child(odd) {
                    background-color: $linkPie;
                }

                th {
                    color: $testo;
                    text-align: left;
                    padding-left: 5px;
                }

                td {
                    color: $testo;
                    text-align: center;
                    font-size: 1.5rem;

                    .bi-x-circle-fill {
                        color: $x;
                    }

                    .bi-check-circle-fill {
                        color: $v;
                    }
                }
            }
        }

    }
}

section.aule {
    @extend %dueColonne;
    color: $testoPie;

    h3 {
        color: $testoPie;

        i {
            margin-right: 20px;

            &.occupato {
                color: calcolaColoreFn($colPrinc, 1, 40%);
            }

            &.libero {
                color: calcolaColoreFn($colLibero, 1, 40%);
            }
        }
    }

    .primaColonna {
        background-color: calcolaColoreFn($sfondoBanner, 1, 4%);
    }

    .secondaColonna {
        background-color: $sfondoBanner;
    }

    // @media all and (min-width: ($xl + "px")) and (max-width: ($xxl + "px")) {
    //     width: 80%;
    // }

    // @media all and (max-width: ($xl + "px")) {
    //     width: 100%
    // }
}


// section.titolo {
//     @extend %dueColonne;
//     background-color: $sfondoBanner;
//     padding: 0;

//     .primaColonna {
//         margin: 50px 0 10px 0;
//         padding: 0;

//         @media all and (max-width: ($xl + "px")) {
//             margin: auto;
//         }
//     }


// }

section#carousel-gioielli {
    background-color: $sfondoBanner;
    padding: 50px 0;
}

section#carousel-aziende {
    @extend %dueColonne;
    background-color: $sfondoBanner;
    padding: 50px 0;


    h3 {
        text-align: center;
        color: $testoPie;
    }
}

figure.citazione {
    color: $testo;

    blockquote.testoQuote {
        margin: 0;
        padding: 0 40px;
        text-align: justify;
        font-style: italic;
    }

    figcaption {
        text-align: end;
        padding: 20px 50px 0 0;
        font-size: 0.9rem;

        cite {
            font-weight: bold;
        }
    }

    .quote {
        width: 100%;
        height: 60px;
        background-image: url('https://api.iconify.design/bi/quote.svg?color=%23ffebf5&width=60&height=60');
        background-repeat: no-repeat;
        background-position: top left;
        color: $testoPie;
    }

    .quote-flip {
        width: 100%;
        height: 60px;
        background-image: url('https://api.iconify.design/bi/quote.svg?color=%23ffebf5&width=60&height=60&rotate=180deg');
        background-repeat: no-repeat;
        background-position: bottom right;
        color: $testoPie;
    }
}


/*###################################################################*/
/* CAROUSEL DI CITAZIONI*/

#gioielliSlide {

    .card-img {
        background-color: $sfondoBanner;
    }
}

#aziendeSlide {

    .card-img {
        background-color: $sfondoBanner;
    }
}

.card {
    margin: 10px;
    border: 1px solid $colPrinc;
    @include filtro(100);

    .card-img {
        padding: 2px;

        img {
            border-radius: 5px;
        }
    }



    .card-img-overlay {
        color: $colPrinc;
        background-color: rgba($color: $sfondoTesto, $alpha: 0.2);
        height: 50px;


        .testo {
            color: $colPrinc;
            background: transparent;
            opacity: 1;
            font-weight: bold;
        }

        .txt {
            display: none;
        }
    }
}


@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}




/* MODAL ############################################*/
#modalCitazione {
    display: none;

    .modal-header {
        background-color: $colPrinc;

        h1 {
            color: $linkPie;
        }

    }

    .modal-body {
        font-style: italic;
    }

    .modal-footer {
        button {
            background-color: $colPrinc;
            border: 1px solid $colPrinc;

            &:hover {
                background-color: calcolaColoreScuroFn($colPrinc, 1, 10%);
                border-color: calcolaColoreScuroFn($colPrinc, 1, 10%);
            }
        }
    }
}